.app {
  height: 100vh;
  margin: 0 25vw;
  overflow: hidden;

  .app__notFooter {
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;
  }

  @media screen and (max-width: 900px) {
    margin: 0 10vw;
  }
}

button:hover {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.1);
}
